{% block content %}
{% load static  %}
<div class="row">
	<div class="limiter login-container">
		<div class="container-login">
			<div class="wrap-login">
                <form id="login_form" class="login-form validate-form">
					  {% csrf_token %}
					<span class="bold p-b-10">
						Account Login
					</span>
					<div data-validate="Type user name">
						<span class="bold"> User Name:</span>
						<input name="username" id="username" class="input100" type="text" placeholder="User name">
					</div>
					<div data-validate="Type password">
						<span class="bold"> Password: &nbsp;</span>
						<input  name="password" id="password" class="input100" type="password" placeholder="Password">
					</div>
					<div class="container-login-form-btn">
						<button class="login-form-btn btn btn-primary" type="submit">
							Sign in
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="ui/static/js/login.js"></script>
{% endblock %}